extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		+breadcrumb(['Главная'], 'Оплата')
		.mblock._p-h

			.h1 Безналичный расчёт картами
				br
				| VISA, Master Card и МИР
		.mblock.row-with-info 
			.row-with-info__left._br._p
				.text
					h2  При оформлении заказа в обычном режиме, вы&nbsp;можете выбрать вариант безналичной оплаты. 
					p 
						big Мы принимаем карты Visa, Master Card и МИР. Чтобы оплатить покупку, сайт перенаправит вас на безопасный сервер платежной системы «СберБанк», где вам потребуется ввести номер карты, срок действия, имя держателя карты.
			.row-with-info__info._br._p 
				p Для подтверждения платежа, на ваш мобильный телефон придет SMS-сообщение с секретным кодом, который необходимо ввести в форму платежной системы.
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.0282 0H10.2188V8.09235L14.0282 11.9018V0Z" fill="white"/>
					<path d="M7.21792 0H2.13281L7.21792 5.08864V0Z" fill="white"/>
					<path d="M0 2.1167V7.21947H5.10277L0 2.1167Z" fill="white"/>
					<path d="M7.21597 15.022H10.2197V22.708L14.0291 26.5174V16.1457L8.09588 10.2161H0V12.4883L7.21597 19.7043V15.022Z" fill="white"/>
					<path d="M10.5133 27.2526L10.5097 27.249L6.71094 31.0514H10.5133H14.3156L10.5133 27.249V27.2526Z" fill="white"/>
					<path d="M0 16.7324V21.8387H5.10277L0 16.7324Z" fill="white"/>
					<path d="M0 24.8318V31.0512H1.87643L8.09588 24.8318H0Z" fill="white"/>
					<path d="M23.8359 0V5.08864L28.921 0H23.8359Z" fill="white"/>
					<path d="M20.8328 0H17.0234V11.9018L20.8328 8.09235V0Z" fill="white"/>
					<path d="M25.9531 7.21947H31.0559V2.1167L25.9531 7.21947Z" fill="white"/>
					<path d="M17.0234 16.1457V26.5174L20.8328 22.708V15.022H23.8366V19.7043L31.0525 12.4883V10.2161H22.9567L17.0234 16.1457Z" fill="white"/>
					<path d="M20.5367 27.2526V27.249V27.2526L20.5332 27.249L16.7344 31.0514H20.5367H24.3391L20.5367 27.249V27.2526Z" fill="white"/>
					<path d="M31.0559 21.8387V16.7324L25.9531 21.8387H31.0559Z" fill="white"/>
					<path d="M29.1804 31.0512H31.0568V24.8318H22.9609L29.1804 31.0512Z" fill="white"/>
				</svg>
		.mblock._br._p 
			.text 
				h4 
					color Курьерская служба СДЕК:
				p Доставка товаров оплачивается заказчиком при получении. Выбрать ближайший пункт выдачи и узнать тарифы на доставку можно на сайте www.cdek.ru. Если вы заказали доставку до квартиры, после поступления товара на склад, курьер свяжется с вами и предложит выбрать удобное время доставки и уточнит адрес.
				p
					b
						color Средний срок доставки по городам России составляет от 2 до 8 дней.
		.mblock._br._p 
			.text 
				h4 
					color Траснпортная компания DPD:
				p Доставка товаров оплачивается заказчиком при получении. Выбрать ближайший пункт выдачи и узнать тарифы на доставку можно на сайте 
					a(href="www.dpd.ru") www.dpd.ru
					|. Если вы заказали доставку до квартиры, после поступления товара на склад, курьер свяжется с вами и предложит выбрать удобное время доставки и уточнит адрес.
		.mblock._br._p 
			.text 
				h4 
					color Почта России:
				p Стоимость доставки рассчитывается по тарифам Почты России и оплачивается при получении. Ознакомиться с тарифами вы можете на сайте 
					a(href="www.pochta.ru") www.pochta.ru
					|. Посылка выдаётся при предъявлении паспорта в отделении Почты России, привязанном к указанному вами почтовому индексу.


				p
					b
						color Средний срок доставки по территории России составляет от 7 до 14 дней.
							br
							| Средний срок доставки за рубеж составляет от 14 до 28 дней.