#subs-form.popup
	.popup__overlay
	
	.popup__flex
		.popup__content._br._p
			.popup__close
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M21.8217 0.610754L0.608488 21.824M0.604336 0.606601L21.8258 21.8281" stroke="white" stroke-width="1.4"/>
				</svg>
			.text 
				.h4 ОСТАВЬТЕ ВАШ ЭЛЕКТРОННЫЙ АДРЕС, И МЫ
					br
					| СООБЩИМ ВАМ КОГДА ТОВАР ПОЯВИТСЯ В НАЛИЧИИ
				form(action="/",method='post')#msg-availability.msg-availability
					input(type="text" data-rule-required data-rule-email placeholder="e-mail").msg-availability__input 
					button(type="submit").msg-availability__btn ПОДПИСАТЬСЯ

				
#error-form.popup._half
	.popup__overlay
	.popup__close
		<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M21.8217 0.610754L0.608488 21.824M0.604336 0.606601L21.8258 21.8281" stroke="white" stroke-width="1.4"/>
		</svg>
	.popup__flex
		.popup__content._br._p
			.text 
				.h2 Произошла ошибка. 
					br
					| Пожалуйста, обновите страницу 
					br.mob-hidden
					| и&nbsp;заполните форму снова.
#thanks-form.popup._half
	.popup__overlay
	.popup__close
		<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M21.8217 0.610754L0.608488 21.824M0.604336 0.606601L21.8258 21.8281" stroke="white" stroke-width="1.4"/>
		</svg>
	.popup__flex
		.popup__content._br._p
			.text 
				.h2 Ваша заявка успешно отправлена!
					br
					|Скоро с вами свяжется менеджер
					br.mob-hidden
					| для&nbsp;уточнения деталей!
#monumentp.popup 
	.popup__overlay
	.popup__close
		<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M21.8217 0.610754L0.608488 21.824M0.604336 0.606601L21.8258 21.8281" stroke="white" stroke-width="1.4"/>
		</svg>

	.popup__flex
		.popup__slider-wrap
			.popup__slider.swiper 
				.swiper-wrapper 
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-1','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-2','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-3','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-4','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-5','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-6','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-7','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-8','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
					.swiper-slide.popup-slide
						.popup-slide__img
							+picture('about-m-9','jpg')
						.popup-slide__body
							.popup-slide__title Река Катунь (4 км от «Манжерока»)
							.popup-slide__desc
								p По одной из версий слово «катунь» имеет в своей основе древнетюркское «кадын» или «хатун», что означает «госпожа», «повелительница», и уводит к древнему обычаю поклонятся большим рекам. Катунь берет начало из ледника Геблера на южном склоне горы Белухи. Ее длина — 665 км, а в ее бассейне насчитывается около 7000 водопадов и порогов. В верхней и средней части река имеет горный характер, в нижней течет по равнине и сливается с рекой Бией, образуя сибирскую реку Обь. Вода в Катуни летом молочно-белая из-за интенсивного таяния ледников, осенью же ее воды просветляются, и она приобретает свой знаменитый бирюзовый цвет.
				.popup__slider-prev
					<svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.61036 14.1204L9.10533 14.6154L8.11539 15.6054L7.62041 15.1104L8.61036 14.1204ZM1.5 8.00003L1.00503 8.495L0.51005 8.00003L1.00503 7.50505L1.5 8.00003ZM7.62041 0.889669L8.11539 0.394694L9.10533 1.38464L8.61036 1.87962L7.62041 0.889669ZM7.62041 15.1104L1.00503 8.495L1.99497 7.50505L8.61036 14.1204L7.62041 15.1104ZM1.00503 7.50505L7.62041 0.889669L8.61036 1.87962L1.99497 8.495L1.00503 7.50505ZM1.5 7.30003H23V8.70003H1.5V7.30003Z" fill="white"/>
					</svg>

				.popup__slider-next
					<svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.8896 14.1204L14.3947 14.6154L15.3846 15.6054L15.8796 15.1104L14.8896 14.1204ZM22 8.00003L22.495 8.495L22.99 8.00003L22.495 7.50505L22 8.00003ZM15.8796 0.889669L15.3846 0.394694L14.3947 1.38464L14.8896 1.87962L15.8796 0.889669ZM15.8796 15.1104L22.495 8.495L21.505 7.50505L14.8896 14.1204L15.8796 15.1104ZM22.495 7.50505L15.8796 0.889669L14.8896 1.87962L21.505 8.495L22.495 7.50505ZM22 7.30003H0.5V8.70003H22V7.30003Z" fill="white"/>
					</svg>

