.preload
	.preload__flex
			<svg  id="preload-img" width="99" height="98" viewBox="0 0 99 98" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.391 1H32.6094V25.9548L44.391 37.7021V1Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-1"></path>
				<path d="M23.3208 1H7.59375L23.3208 16.6921V1Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-2"></path>
				<path d="M1 7.52734V23.263H16.7817L1 7.52734Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-3"></path>
				<path d="M23.3173 47.3242H32.6071V71.0259L44.3887 82.7731V50.7896L26.0387 32.5039H1V39.5109L23.3173 61.7631V47.3242Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-4"></path>
				<path d="M33.5254 85.0397L33.5145 85.0288L21.7656 96.7543H33.5254H45.2851L33.5254 85.0288V85.0397Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-5"></path>
				<path d="M1 52.5986V68.3452H16.7817L1 52.5986Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-6"></path>
				<path d="M1 77.5752V96.7544H6.80337L26.0387 77.5752H1Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-7"></path>
				<path d="M74.7266 1V16.6921L90.4536 1H74.7266Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-8"></path>
				<path d="M65.4379 1H53.6562V37.7021L65.4379 25.9548V1Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-9"></path>
				<path d="M81.2578 23.263H97.0395V7.52734L81.2578 23.263Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-10"></path>
				<path d="M53.6562 50.7896V82.7731L65.4379 71.0259V47.3242H74.7276V61.7631L97.0449 39.5109V32.5039H72.0063L53.6562 50.7896Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-11"></path>
				<path d="M64.5176 85.0397V85.0288V85.0397ZM64.5176 85.0397L64.5066 85.0288L52.7578 96.7543H64.5176H76.2773L64.5176 85.0288V85.0397Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-12"></path>
				<path d="M97.0395 68.3452V52.5986L81.2578 68.3452H97.0395Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-13"></path>
				<path d="M91.2431 96.7544H97.0465V77.5752H72.0078L91.2431 96.7544Z" stroke="#C0C2CE" stroke-width="2" class="svg-elem-14"></path>
			</svg>
			script.
				function getCookie(e, t = !1) {
					if (!e) return;
					let n = document.cookie.match(
						new RegExp(
							"(?:^|; )" +
								e.replace(/([.$?*|{}()\[\]\\\/+^])/g, "\\$1") +
								"=([^;]*)"
						)
					);
					if (n) {
						let e = decodeURIComponent(n[1]);
						if (t)
							try {
								return JSON.parse(e);
							} catch (e) {}
						return e;
					}
				}
				function setCookie(e, t, n = { path: "/" }) {
					if (!e) return;
					(n = n || {}).expires instanceof Date &&
						(n.expires = n.expires.toUTCString()),
						t instanceof Object && (t = JSON.stringify(t));
					let o = encodeURIComponent(e) + "=" + encodeURIComponent(t);
					for (let e in n) {
						o += "; " + e;
						let t = n[e];
						!0 !== t && (o += "=" + t);
					}
					document.cookie = o;
				}
				function deleteCookie(e) {
					setCookie(e, null, { expires: new Date(), path: "/" });
				}
				
				console.log('getCookie("load")', getCookie("load"));
				if (getCookie("load")) {
					console.log('xxvvsvv',document.querySelector(".preload"))
					document.querySelector(".preload").remove();
				} else {	
					var load = false;
					console.log('loader',load)
				
					let preloadimg = document.querySelector("#preload-img");
					setTimeout(function () {
						preloadimg.classList.add("active");
						let preload = setInterval(function () {
							window.scrollTo(0, 0);
							console.log('preload',load)
							if (load) {
								$(".preload").fadeOut();
								if (document.querySelector(".front-top__main-bg")) {
									setTimeout(function () {
										document
											.querySelector(".front-top__main-bg")
											.classList.add("_animate");
									}, 500);
								}
								clearInterval(preload);
							} else {
								preloadimg.classList.remove("active");
								setTimeout(function () {
									preloadimg.classList.add("active");
								}, 3000);
							}
						}, 3000);
					}, 300);
				}
