extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		
		+breadcrumb(['Главная'], 'Гарантия и возврат')
			
		.block
			.block__head._p-h
				h1 Гарантийные сроки на продукцию
			._br._p 
				.text 
					ul
						li Гарантия на текстильные изделия составляет 30 дней с момента приобретения товара покупателем;
						li Гарантийный срок на сувенирные изделия, включая керамические кружки, сувенирные солнцезащитные очки и т. д. не установлен. Выход их строя сувенирных изделий возможен только в случае ненадлежащего и не бережного использования, применения излишних физических нагрузок, не рассчитанных для любых сувенирных изделий марки «MGLK.SHOP». Претензии к дефектам и повреждениям товара принимаются непосредственно в момент отпуска такового в торговой точке;
						li Гарантийный срок на пищевые продукты указан на этикетке каждого продукта (см. на этикетке срок изготовления, срок годности, употребить до;
						li Нижнее белье (к примеру, носки) возврату и обмену не подлежит.
					blockquote  При заказе товаров через интернет магазин «MGLK.SHOP», гарантийные обязательства начинаются с момента получением заказчика оплаченного товара. Осмотр товара необходимо провести в отделении Почты России, в присутствии курьера курьерской службы транспортной компании или менеджера транспортной компании.
		.block
			.block__head._p-h
				.h1 Правила обмена и возврата товара
			.mblock._br._p 
				.text 
					h4 
						color Обмен и возврат продукции, приобретенной в розничной сети
					ul
						li Покупатель имеет право на замену товара на аналогичный, если таковой не подошел по размеру или характеристикам, а также на замену товара на другой с такой же или отличной стоимостью, на возврат товара (соответственно, доплатить за разницу в стоимости или потребовать разницу в стоимости), обратившись в торговую точку не позднее, чем через 14 дней с момента приобретения товара;
						li Для обмена и возврата необходимо, чтобы был сохранен товарный вид, на товаре отсутствовали повреждения и следы использования, появившиеся в следствие использования товара покупателем;
						li Для подтверждения покупки, покупатель должен сохранить чек на приобретенный товар;
						li  Правила оформления замены или возврата товара устанавливаются действующим законодательством и внутренними документами каждой торговой точки.
				
			.mblock._br._p 
				.text 
					h4 
						color Обмен и возврат продукции, приобретенной в розничной сети
					ul
						li Покупатель имеет право на замену товара на аналогичный, если таковой не подошел по размеру или характеристикам,   а также на замену товара на другой с такой же или отличной стоимостью, на возврат товара (соответственно, доплатить   за разницу в стоимости или потребовать разницу в стоимости). Для этого необходимо обратиться к менеджеру интернет магазина www.mglk.shop, для этого необходимо изложить свои пожелания или претензии менеджеру интернет магазина   в форме обратной связи или отправить письмо на электронный почтовый ящик shop@mglk.com не позднее, чем через 14 дней с момента получения товара у курьера, в транспортной компании или в отделении Почты России;
						li Для обмена и возврата необходимо, чтобы был сохранен товарный вид, на товаре отсутствовали повреждения и следы использования, появившиеся в следствие использования товара покупателем;
						li При обращении в интернет магазин необходимо указать контактные данные человека, заказавшего товар и номер заказа, отправленный покупателю на электронную почту после оформления заказа на сайте.