body {
	font-family: 'Eastman2';
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
	background: #E5E5E5;

	&._no-scroll {
		overflow: hidden;
	}
}

button {
	font-family: 'Eastman2';
}

sup {
	font-size: 70%;
	vertical-align: super;
	margin: -31px 0;
	display: inline-block;
}

.mob-hidden {
	@media(max-width:890px) {
		display: none;
	}
}

.desc-hidden {
	@media(min-width:890px) {
		display: none;
	}
}

color {
	color: $blue
}

.load-anim {
	opacity: 0;

	transition: opacity 0.5s;

	&._delay-0 {
		transition-delay: 0ms;
	}

	&._delay-300 {
		transition-delay: 300ms;
	}

	&._delay-600 {
		transition-delay: 600ms;
	}

	&._delay-900 {
		transition-delay: 900ms;
	}

	&._delay-1200 {
		transition-delay: 1200ms;
	}

	&._delay-1500 {
		transition-delay: 1500ms;
	}

	&._delay-1800 {
		transition-delay: 1800ms;
	}

	&._delay-2100 {
		transition-delay: 2100ms;
	}

	&._animate {
		opacity: 1;
	}
}

img {
	max-width: 100%;
}

* {
	-webkit-box-decoration-break: clone;
	isolation: isolate;
}

.page {
	padding-top: 10px;
	padding-bottom: 10px;
}

._sb {
	backdrop-filter: blur(4px);
}

._br {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	background: #fff;
}



._p-h {
	padding: 0 30px;

	@media(max-width:890px) {
		padding: 0 20px;
	}
}

._p {
	padding: 30px;

	@media(max-width:890px) {
		padding: 20px;
	}
}

.inner {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1420px;

}

.mblock {
	margin-bottom: 15px;
}

.block {
	margin-bottom: 90px;

	@media(max-width:890px) {
		margin-bottom: 50px;
	}

	&__filter {
		padding: 10px 19px 8px 20px;
		background: #FFFFFF;
		border: 1.4px solid #B2C2D3;
		border-radius: 10px;
		text-transform: uppercase;
		line-height: 14px;
		letter-spacing: -0.02em;
		font-size: 12px;
		white-space: nowrap;
		cursor: pointer;

		&:hover,
		&.mixitup-control-active,
		&._active {
			border-color: $blue;
		}
	}

	&__filter-it {
		&.d-none {
			display: none !important;
		}
	}

	&__filters {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		gap: 15px;
		overflow: auto;

		@media(max-width:800px) {
			margin-left: 0;
		}
	}

	&__head {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-bottom: 30px;
		flex-wrap: wrap;

		@media(max-width:800px) {
			padding-left: 0;
			padding-right: 0;
			gap: 15px;
			margin-bottom: 20px;
			flex-direction: column;
			align-items: flex-start;
		}

		h2,
		.h2 {
			margin-bottom: 0;
		}


	}

	&__slider-nav {
		margin-left: auto;
		display: flex;
		flex-direction: row;
		gap: 15px;

		button {
			width: 41px;
			height: 27px;
			display: block;
			border: 0 solid;
			background-color: transparent !important;

			svg {
				path {
					stroke: currentColor;
				}
			}

			&:hover {
				color: #106AC6;
			}

			&.swiper-button-disabled {
				color: #B2C2D3 !important
			}
		}


	}
}

.row-with-info {
	display: grid;
	grid-template-columns: auto 366px;
	gap: 15px;

	@media(max-width:900px) {
		grid-template-columns: 1fr;
	}

	&__calendar {
		background-color: $blue;
		color: #fff;
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;

		a {
			margin-top: 17px;
			margin-bottom: auto;
			font-size: 28px;
			line-height: 150%;
			letter-spacing: -0.02em;
			text-decoration-line: underline;
			text-underline-position: under;
			color: #fff;

			&:hover {
				text-decoration: none;
			}
		}

		background-image: url("data:image/svg+xml,%3Csvg width='342' height='232' viewBox='0 0 342 232' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3313_22635)'%3E%3Cpath d='M-383 104.051L-377.755 105.707L-370.236 106.193C-370.236 106.193 -363.602 105.707 -358.989 107.021C-354.376 108.335 -352.923 109.306 -348.31 110.135C-343.698 110.963 -332.703 112.591 -332.703 112.591C-332.703 112.591 -322.119 115.705 -315.958 115.705C-309.798 115.705 -308.249 117.99 -302.089 119.332C-295.928 120.675 -289.293 121.36 -286.197 121.789C-283.133 122.217 -272.327 126.073 -272.327 126.073L-264.524 131.7L-251.855 142.468C-251.855 142.468 -234.921 145.525 -229.518 145.982C-224.116 146.41 -217.955 145.096 -211.036 146.41C-204.117 147.724 -195.65 149.895 -188.699 150.352C-181.78 150.809 -174.64 146.639 -171.575 147.952C-168.511 149.266 -167.911 145.725 -160.992 146.953C-157.927 145.639 -156.189 146.953 -149.239 143.439C-142.32 139.926 -128.45 140.469 -128.45 140.469L-121.531 139.155C-114.612 137.841 -110.157 136.584 -105.545 136.67C-100.932 136.756 -98.6257 137.327 -91.675 134.842C-84.756 132.357 -82.4497 130.615 -74.7409 129.729C-67.032 128.844 -65.5155 124.559 -55.5003 126.273C-45.4852 127.987 -48.5813 124.559 -36.2598 126.273C-23.9383 127.987 -4.85572 118.732 0.546793 118.675C5.94931 118.618 14.2268 109.135 21.9041 107.821C29.6129 106.507 34.2256 99.3378 40.3864 98.4524C46.5472 97.5669 52.8027 93.511 59.7217 92.1971C66.6407 90.8832 75.1078 97.1956 80.5103 97.6241C85.9128 98.0525 80.6999 100.909 93.7796 103.537C106.859 106.164 113.115 110.335 117.759 112.077C122.372 113.819 125.468 117.076 131.629 118.818C137.79 120.56 138.832 123.759 143.476 123.759C148.121 123.759 151.28 127.158 160.505 128.529C169.731 129.9 166.255 132.214 176.271 136.67C186.286 141.126 186.286 140.697 192.447 142.44C198.607 144.182 197.217 144.953 206.316 145.496C223.25 145.924 223.25 145.496 236.362 145.924C249.442 146.353 242.902 141.44 255.223 138.355C259.236 133.642 261.226 130.072 272.157 127.615C288.333 125.073 285.648 121.417 292.567 118.847C299.486 116.276 309.501 111.22 314.114 110.735C318.726 110.249 325.677 106.793 329.5 105.022C333.354 103.28 339.515 100.852 344.128 99.1094C348.74 97.367 352.595 92.0542 355.691 90.569C358.756 89.0837 367.633 96.9386 375.342 95.1676C383.051 93.4253 391.897 99.9948 394.993 99.5378C398.058 99.1094 399.985 100.852 402.323 99.1094C404.629 97.367 407.283 98.8237 405.798 99.4521C414.266 95.9388 416.572 95.5104 420.426 93.311C424.281 91.1117 431.99 86.2845 431.99 86.2845C431.99 86.2845 433.538 82.3428 438.909 86.2845C444.311 90.2262 452.778 82 452.778 82L470.092 83.9708L484.719 87.3699C484.719 87.3699 496.662 91.6543 500.516 94.2822C504.371 96.91 503.202 93.3967 509.362 95.1676C515.523 96.91 516.281 90.8832 518.588 90.569C520.894 90.2548 527.813 87.3984 527.813 87.3984C527.813 87.3984 531.162 84.4279 535.016 85.856C538.871 87.2842 537.449 87.1985 539.755 87.627C542.062 88.0554 548.223 89.3693 550.529 89.3693C552.835 89.3693 558.238 88.9409 558.238 88.9409C558.238 88.9409 563.23 87.3984 567.874 87.3984C572.518 87.3984 576.72 83.8852 582.123 87.3984C587.525 90.9117 589.042 93.768 593.686 95.5104C598.299 97.2527 599.088 97.7098 605.249 99.0237C611.41 100.338 607.555 100.338 612.958 101.223C618.36 102.108 611.41 103.851 631.44 104.279C651.471 104.708 658.39 103.851 662.244 104.708C666.098 105.593 659.938 103.822 666.098 105.593C672.259 107.336 684.581 109.535 688.435 109.963C692.29 110.392 695.765 111.163 695.765 111.163C695.765 111.163 700.757 110.249 705.401 112.734C710.045 115.219 704.643 113.02 710.014 115.219C715.416 117.418 717.722 117.847 720.029 118.732C722.335 119.618 726 122.246 726 122.246V259.806H-383V103.994V104.051Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M417.503 164.492L413.976 165.3L409.044 165.219C409.044 165.219 404.751 164.546 401.659 165.163C398.567 165.78 397.556 166.341 394.495 166.639C391.435 166.937 384.163 167.421 384.163 167.421C384.163 167.421 377.061 168.901 373.045 168.573C369.03 168.245 367.871 169.663 363.768 170.216C359.665 170.77 355.296 170.866 353.25 170.983C351.225 171.101 343.93 173.058 343.93 173.058L338.476 176.337L329.514 182.734C329.514 182.734 318.277 183.839 314.726 183.851C311.177 183.845 307.248 182.654 302.652 183.148C298.057 183.642 292.396 184.616 287.836 184.546C283.297 184.478 278.916 181.358 276.832 182.058C274.749 182.758 274.589 180.4 270 180.837C268.088 179.811 266.87 180.582 262.569 177.904C258.29 175.228 249.214 174.845 249.214 174.845L244.791 173.613C240.367 172.382 237.546 171.319 234.534 171.13C231.522 170.94 229.981 171.192 225.614 169.19C221.267 167.189 219.878 165.922 214.911 164.93C209.945 163.937 209.236 161.043 202.597 161.635C195.957 162.226 198.199 160.14 190.057 160.609C181.914 161.078 170.082 153.983 166.564 153.658C163.047 153.333 158.272 146.664 153.354 145.392C148.416 144.118 145.878 139.164 141.921 138.254C137.964 137.344 134.152 134.347 129.728 133.115C125.305 131.884 119.373 135.578 115.824 135.572C112.275 135.565 115.485 137.719 106.789 138.748C98.0919 139.776 93.742 142.182 90.6011 143.079C87.4807 143.977 85.2497 145.951 81.1204 146.767C76.9911 147.583 76.1023 149.628 73.0753 149.381C70.0484 149.133 67.7669 151.197 61.6644 151.606C55.562 152.015 57.6757 153.719 50.8567 156.112C44.0377 158.505 44.0658 158.224 39.9365 159.04C35.8071 159.856 36.6627 160.436 30.6968 160.308C19.6317 159.687 19.6597 159.405 11.0862 158.988C2.53321 158.572 7.11701 155.694 -0.71194 153.012C-3.0188 149.703 -4.08249 147.252 -11.0465 145.056C-21.4231 142.524 -19.4337 140.266 -23.7751 138.209C-28.1165 136.152 -34.3134 132.298 -37.288 131.734C-40.2626 131.169 -44.5667 128.529 -46.9424 127.162C-49.3406 125.812 -53.1972 123.89 -56.0896 122.499C-58.982 121.109 -61.1467 117.415 -63.0675 116.274C-64.9677 115.136 -71.2677 119.821 -76.1763 118.247C-81.0866 116.692 -87.282 120.535 -89.2701 120.07C-91.2395 119.626 -92.6095 120.667 -94.0194 119.398C-95.4086 118.131 -97.2336 118.946 -96.3069 119.438C-101.596 116.68 -103.071 116.275 -105.439 114.626C-107.807 112.976 -112.516 109.395 -112.516 109.395C-112.516 109.395 -113.267 106.723 -117.026 109.026C-120.805 111.327 -125.785 105.473 -125.785 105.473L-137.198 105.845L-146.954 107.298C-146.954 107.298 -155.018 109.475 -157.702 110.996C-160.386 112.516 -159.395 110.271 -163.526 111.106C-167.655 111.922 -167.755 107.923 -169.238 107.594C-170.72 107.265 -175.043 105.02 -175.043 105.02C-175.043 105.02 -177.032 102.891 -179.637 103.623C-182.243 104.356 -181.311 104.375 -182.842 104.534C-184.373 104.692 -188.474 105.227 -189.977 105.104C-191.481 104.981 -194.974 104.412 -194.974 104.412C-194.974 104.412 -198.126 103.133 -201.153 102.885C-204.18 102.638 -206.689 100.107 -210.44 102.126C-214.191 104.145 -215.366 105.941 -218.507 106.837C-221.628 107.736 -222.172 107.994 -226.274 108.529C-230.375 109.063 -227.863 109.269 -231.442 109.562C-235.021 109.856 -230.605 111.37 -243.688 110.584C-256.771 109.798 -261.224 108.867 -263.793 109.224C-266.363 109.601 -262.232 108.766 -266.363 109.601C-270.492 110.417 -278.667 111.204 -281.207 111.28C-283.747 111.356 -286.063 111.678 -286.063 111.678C-286.063 111.678 -289.256 110.811 -292.446 112.196C-295.635 113.58 -291.97 112.424 -295.615 113.582C-299.28 114.739 -300.811 114.897 -302.372 115.356C-303.933 115.814 -306.494 117.345 -306.494 117.345L-315.492 207.688L407.315 266.784L417.507 164.454L417.503 164.492Z' fill='white' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3313_22635'%3E%3Crect width='342' height='232' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}

	&__info {
		background-color: $blue;
		color: #fff;
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("data:image/svg+xml,%3Csvg width='342' height='232' viewBox='0 0 342 232' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3313_22635)'%3E%3Cpath d='M-383 104.051L-377.755 105.707L-370.236 106.193C-370.236 106.193 -363.602 105.707 -358.989 107.021C-354.376 108.335 -352.923 109.306 -348.31 110.135C-343.698 110.963 -332.703 112.591 -332.703 112.591C-332.703 112.591 -322.119 115.705 -315.958 115.705C-309.798 115.705 -308.249 117.99 -302.089 119.332C-295.928 120.675 -289.293 121.36 -286.197 121.789C-283.133 122.217 -272.327 126.073 -272.327 126.073L-264.524 131.7L-251.855 142.468C-251.855 142.468 -234.921 145.525 -229.518 145.982C-224.116 146.41 -217.955 145.096 -211.036 146.41C-204.117 147.724 -195.65 149.895 -188.699 150.352C-181.78 150.809 -174.64 146.639 -171.575 147.952C-168.511 149.266 -167.911 145.725 -160.992 146.953C-157.927 145.639 -156.189 146.953 -149.239 143.439C-142.32 139.926 -128.45 140.469 -128.45 140.469L-121.531 139.155C-114.612 137.841 -110.157 136.584 -105.545 136.67C-100.932 136.756 -98.6257 137.327 -91.675 134.842C-84.756 132.357 -82.4497 130.615 -74.7409 129.729C-67.032 128.844 -65.5155 124.559 -55.5003 126.273C-45.4852 127.987 -48.5813 124.559 -36.2598 126.273C-23.9383 127.987 -4.85572 118.732 0.546793 118.675C5.94931 118.618 14.2268 109.135 21.9041 107.821C29.6129 106.507 34.2256 99.3378 40.3864 98.4524C46.5472 97.5669 52.8027 93.511 59.7217 92.1971C66.6407 90.8832 75.1078 97.1956 80.5103 97.6241C85.9128 98.0525 80.6999 100.909 93.7796 103.537C106.859 106.164 113.115 110.335 117.759 112.077C122.372 113.819 125.468 117.076 131.629 118.818C137.79 120.56 138.832 123.759 143.476 123.759C148.121 123.759 151.28 127.158 160.505 128.529C169.731 129.9 166.255 132.214 176.271 136.67C186.286 141.126 186.286 140.697 192.447 142.44C198.607 144.182 197.217 144.953 206.316 145.496C223.25 145.924 223.25 145.496 236.362 145.924C249.442 146.353 242.902 141.44 255.223 138.355C259.236 133.642 261.226 130.072 272.157 127.615C288.333 125.073 285.648 121.417 292.567 118.847C299.486 116.276 309.501 111.22 314.114 110.735C318.726 110.249 325.677 106.793 329.5 105.022C333.354 103.28 339.515 100.852 344.128 99.1094C348.74 97.367 352.595 92.0542 355.691 90.569C358.756 89.0837 367.633 96.9386 375.342 95.1676C383.051 93.4253 391.897 99.9948 394.993 99.5378C398.058 99.1094 399.985 100.852 402.323 99.1094C404.629 97.367 407.283 98.8237 405.798 99.4521C414.266 95.9388 416.572 95.5104 420.426 93.311C424.281 91.1117 431.99 86.2845 431.99 86.2845C431.99 86.2845 433.538 82.3428 438.909 86.2845C444.311 90.2262 452.778 82 452.778 82L470.092 83.9708L484.719 87.3699C484.719 87.3699 496.662 91.6543 500.516 94.2822C504.371 96.91 503.202 93.3967 509.362 95.1676C515.523 96.91 516.281 90.8832 518.588 90.569C520.894 90.2548 527.813 87.3984 527.813 87.3984C527.813 87.3984 531.162 84.4279 535.016 85.856C538.871 87.2842 537.449 87.1985 539.755 87.627C542.062 88.0554 548.223 89.3693 550.529 89.3693C552.835 89.3693 558.238 88.9409 558.238 88.9409C558.238 88.9409 563.23 87.3984 567.874 87.3984C572.518 87.3984 576.72 83.8852 582.123 87.3984C587.525 90.9117 589.042 93.768 593.686 95.5104C598.299 97.2527 599.088 97.7098 605.249 99.0237C611.41 100.338 607.555 100.338 612.958 101.223C618.36 102.108 611.41 103.851 631.44 104.279C651.471 104.708 658.39 103.851 662.244 104.708C666.098 105.593 659.938 103.822 666.098 105.593C672.259 107.336 684.581 109.535 688.435 109.963C692.29 110.392 695.765 111.163 695.765 111.163C695.765 111.163 700.757 110.249 705.401 112.734C710.045 115.219 704.643 113.02 710.014 115.219C715.416 117.418 717.722 117.847 720.029 118.732C722.335 119.618 726 122.246 726 122.246V259.806H-383V103.994V104.051Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M417.503 164.492L413.976 165.3L409.044 165.219C409.044 165.219 404.751 164.546 401.659 165.163C398.567 165.78 397.556 166.341 394.495 166.639C391.435 166.937 384.163 167.421 384.163 167.421C384.163 167.421 377.061 168.901 373.045 168.573C369.03 168.245 367.871 169.663 363.768 170.216C359.665 170.77 355.296 170.866 353.25 170.983C351.225 171.101 343.93 173.058 343.93 173.058L338.476 176.337L329.514 182.734C329.514 182.734 318.277 183.839 314.726 183.851C311.177 183.845 307.248 182.654 302.652 183.148C298.057 183.642 292.396 184.616 287.836 184.546C283.297 184.478 278.916 181.358 276.832 182.058C274.749 182.758 274.589 180.4 270 180.837C268.088 179.811 266.87 180.582 262.569 177.904C258.29 175.228 249.214 174.845 249.214 174.845L244.791 173.613C240.367 172.382 237.546 171.319 234.534 171.13C231.522 170.94 229.981 171.192 225.614 169.19C221.267 167.189 219.878 165.922 214.911 164.93C209.945 163.937 209.236 161.043 202.597 161.635C195.957 162.226 198.199 160.14 190.057 160.609C181.914 161.078 170.082 153.983 166.564 153.658C163.047 153.333 158.272 146.664 153.354 145.392C148.416 144.118 145.878 139.164 141.921 138.254C137.964 137.344 134.152 134.347 129.728 133.115C125.305 131.884 119.373 135.578 115.824 135.572C112.275 135.565 115.485 137.719 106.789 138.748C98.0919 139.776 93.742 142.182 90.6011 143.079C87.4807 143.977 85.2497 145.951 81.1204 146.767C76.9911 147.583 76.1023 149.628 73.0753 149.381C70.0484 149.133 67.7669 151.197 61.6644 151.606C55.562 152.015 57.6757 153.719 50.8567 156.112C44.0377 158.505 44.0658 158.224 39.9365 159.04C35.8071 159.856 36.6627 160.436 30.6968 160.308C19.6317 159.687 19.6597 159.405 11.0862 158.988C2.53321 158.572 7.11701 155.694 -0.71194 153.012C-3.0188 149.703 -4.08249 147.252 -11.0465 145.056C-21.4231 142.524 -19.4337 140.266 -23.7751 138.209C-28.1165 136.152 -34.3134 132.298 -37.288 131.734C-40.2626 131.169 -44.5667 128.529 -46.9424 127.162C-49.3406 125.812 -53.1972 123.89 -56.0896 122.499C-58.982 121.109 -61.1467 117.415 -63.0675 116.274C-64.9677 115.136 -71.2677 119.821 -76.1763 118.247C-81.0866 116.692 -87.282 120.535 -89.2701 120.07C-91.2395 119.626 -92.6095 120.667 -94.0194 119.398C-95.4086 118.131 -97.2336 118.946 -96.3069 119.438C-101.596 116.68 -103.071 116.275 -105.439 114.626C-107.807 112.976 -112.516 109.395 -112.516 109.395C-112.516 109.395 -113.267 106.723 -117.026 109.026C-120.805 111.327 -125.785 105.473 -125.785 105.473L-137.198 105.845L-146.954 107.298C-146.954 107.298 -155.018 109.475 -157.702 110.996C-160.386 112.516 -159.395 110.271 -163.526 111.106C-167.655 111.922 -167.755 107.923 -169.238 107.594C-170.72 107.265 -175.043 105.02 -175.043 105.02C-175.043 105.02 -177.032 102.891 -179.637 103.623C-182.243 104.356 -181.311 104.375 -182.842 104.534C-184.373 104.692 -188.474 105.227 -189.977 105.104C-191.481 104.981 -194.974 104.412 -194.974 104.412C-194.974 104.412 -198.126 103.133 -201.153 102.885C-204.18 102.638 -206.689 100.107 -210.44 102.126C-214.191 104.145 -215.366 105.941 -218.507 106.837C-221.628 107.736 -222.172 107.994 -226.274 108.529C-230.375 109.063 -227.863 109.269 -231.442 109.562C-235.021 109.856 -230.605 111.37 -243.688 110.584C-256.771 109.798 -261.224 108.867 -263.793 109.224C-266.363 109.601 -262.232 108.766 -266.363 109.601C-270.492 110.417 -278.667 111.204 -281.207 111.28C-283.747 111.356 -286.063 111.678 -286.063 111.678C-286.063 111.678 -289.256 110.811 -292.446 112.196C-295.635 113.58 -291.97 112.424 -295.615 113.582C-299.28 114.739 -300.811 114.897 -302.372 115.356C-303.933 115.814 -306.494 117.345 -306.494 117.345L-315.492 207.688L407.315 266.784L417.507 164.454L417.503 164.492Z' fill='white' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3313_22635'%3E%3Crect width='342' height='232' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

		&::before {
			display: block;
			content: '';
			margin-bottom: 20px;
			background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.15674 12.9985V7.85564H7.44245M7.44245 12.4271H10.871M9.00001 1C13.4183 1 17 4.58173 17 9C17 13.4183 13.4183 17 9 17C4.58173 17 1 13.4183 1 9C1 4.58173 4.58173 1 9.00001 1Z' stroke='white' stroke-width='1.4'/%3E%3Cpath d='M9.99992 4.99999C9.99992 5.55228 9.55221 5.99999 8.99992 5.99999C8.44764 5.99999 7.99992 5.55228 7.99992 4.99999C7.99992 4.44771 8.44764 3.99999 8.99992 3.99999C9.55221 3.99999 9.99992 4.44771 9.99992 4.99999Z' fill='white'/%3E%3C/svg%3E%0A");
			width: 18px;
			height: 18px;
		}

		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 200%;
			/* or */

			letter-spacing: -0.02em;
		}
	}
}

.page-top {
	min-height: 510px;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px;

	@media(max-width:890px) {
		padding: 15px;
		min-height: calc(100vh - 200px);
		margin-bottom: 15px !important;
	}

	&._big {
		min-height: 677px;
	}

	@media(max-width:890px) {
		min-height: calc(var(--vh, 1vh)*100 - 200px) !important;
	}

	@media(max-width:890px) {
		margin-top: 42px;
		justify-content: flex-end;
		overflow: visible;
	}

	h2,
	.h2 {
		color: #Fff;
		position: relative;
		z-index: 5;
		margin: 0px 0px 8px;
	}

	.stars {
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-top: 8px;
		margin-bottom: 30px;

		@media(max-width:890px) {
			margin-bottom: auto
		}

		img {
			width: 14px;
			height: 14px;
		}
	}

	.breadcrumb {
		z-index: 5;
		position: relative;
		margin-bottom: auto;
		margin-top: 0;

		@media(max-width:890px) {
			position: absolute;
			top: -30px;
		}
	}

	h1,
	.h1 {
		color: #fff;
		position: relative;
		z-index: 6;
	}

	&__row {
		position: relative;
		z-index: 6;
		display: flex;
		flex-direction: row;
		gap: 30px;
		align-items: flex-end;

		@media(max-width:890px) {
			align-items: baseline;
			flex-direction: column;
		}
	}

	&__socs {
		color: #fff;
		margin-left: auto;

		&-list {
			display: flex;
			flex-direction: row;
			gap: 30px;
			align-items: center;
		}

		a {
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.2);
			}
		}

		span {
			font-size: 16px;
			line-height: 40px;
			letter-spacing: -0.02em;
		}
	}

	&__head {
		position: relative;
		z-index: 6;
		color: #fff;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 16px;
		margin-bottom: 32px;
	}

	&__label {
		border: 1.4px solid #FFFFFF;
		backdrop-filter: blur(50px);
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		/* identical to box height */
		text-transform: uppercase;
		letter-spacing: -0.02em;
		padding: 10px 19px 8px 20px;
		color: #FFFFFF;

		border-radius: 10px;
	}

	&__desc {
		position: relative;
		z-index: 6;
		color: #fff;
		margin-top: 15px;

		p {
			font-size: 20px;
			@include lh(30, 45);
			letter-spacing: -0.02em;
			font-weight: 300;

			.page-top._big {
				font-size: 30px;
			}

			@media(max-width:890px) {
				font-size: 14px !important;
				font-weight: 400 !important;
				line-height: 28px !important;
			}
		}
	}

	&__date {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		/* identical to box height */

		letter-spacing: -0.02em;

		color: #FFFFFF;
	}

	&__bg {
		z-index: 1;

		&::after {
			z-index: 3;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 50%;
			display: block;
			content: '';
			background: linear-gradient(0deg, rgba(42, 42, 41, 0.5) 0%, rgba(42, 42, 41, 0) 98.67%);
		}

		&::before {
			background: linear-gradient(180.14deg, rgba(0, 0, 0, 0) 31.99%, rgba(0, 0, 0, 0.5) 99.87%);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			display: block;
			height: 100%;
			content: '';
			z-index: 2;
		}

		img {
			object-fit: cover;
		}
	}

	&__bg img,
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

}

.share {
	&__list {
		display: flex;
		flex-direction: row;
		gap: 30px;
		align-items: center;
	}

	&__title {
		font-size: 16px;
		line-height: 40px;
	}

	svg {
		path {
			fill: currentColor !important;
		}
	}

	a {
		transition: transform 0.3s;
		color: #B2C2D3;

		&:hover {
			transform: scale(1.2);
		}
	}
}

ol {
	list-style: decimal-leading-zero inside;

	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	li {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page {
	overflow: hidden;
	padding-top: 110px;

	@media(max-width:890px) {
		padding-top: 75px;
	}
}

.table-responsive {
	overflow: auto;

	table {
		border-collapse: separate;
		border-spacing: 0 30px;
		min-width: 100%;
		td,

		th {
			text-align: left;
		}

		th {
			padding: 0;
			font-size: 16px;
			line-height: 19px;

			letter-spacing: -0.02em;
			text-transform: uppercase;
		}
	}
}

.page-title {
	margin-bottom: 30px;
}

.grid-row-2 {
	display: grid;
	grid-template-rows: 1fr 1fr;
}