extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.mblock.shop-slider.swiper 
			.swiper-wrapper
				.swiper-slide._br.shop-slider__item
					.shop-slider__item-bg
						+picture('sh-1','jpg')
					.shop-slider__item-title.h1 Новая коллекция
					.shop-slider__item-desc 
						p В нашем магазине появилась уникальная коллекция брендированных вещей from siberia’22
					a(href="#").shop-slider__item-link.btn3 НОВИНКИ
				.swiper-slide._br.shop-slider__item
					.shop-slider__item-bg
						+picture('sh-2','jpg')
					.shop-slider__item-title.h1 Проверь свою координацию
					.shop-slider__item-desc 
						p Простейший тренажер, предназначенный для развития координации движений и умения поддерживать баланс тела на неустойчивой поверхности.
					a(href="#").shop-slider__item-link.btn3 аксессуары
		.block.category-list 
			.category-it
				.category-it__bg._br 
					+picture('sh-1','jpg')
				a(href="#").link-chevron.category-it__link.h2 Новая коллекция 
			.category-it
				.category-it__bg._br 
					+picture('sh-2','jpg')
				a(href="#").link-chevron.category-it__link.h2 Распродажа
			.category-it
				.category-it__bg._br 
					+picture('sh-3','jpg')
				a(href="#").link-chevron.category-it__link.h2 Аксессуары  
			.category-it
				.category-it__bg._br 
					+picture('sh-4','jpg')
				a(href="#").link-chevron.category-it__link.h2 Эко-товары
			.category-it
				.category-it__bg._br 
					+picture('sh-5','jpg')
				a(href="#").link-chevron.category-it__link.h2 Сувениры и подарки
			.category-it
				.category-it__bg._br 
					+picture('sh-6','jpg')
				a(href="#").link-chevron.category-it__link.h2 Спортивные товары
		.block
			.block__head._p-h 
				.h1 Услуги
			.service-list 
				.service-preview
					.service-preview__img._br
						+picture('s-1','jpg')
					a(href="#").service-preview__link купить SKI-PASS
				.service-preview
					.service-preview__img._br
						+picture('s-2','jpg')
					a(href="#").service-preview__link SKI сервис
				.service-preview
					.service-preview__img._br
						+picture('s-3','jpg')
					a(href="#").service-preview__link горнолыжная школа
				.service-preview
					.service-preview__img._br
						+picture('s-4','jpg')
					a(href="#").service-preview__link SPA центр
				.service-preview
					.service-preview__img._br
						+picture('s-5','jpg')
					a(href="#").service-preview__link БАНИ в ОТЕЛЕ 3 звезды
				.service-preview
					.service-preview__img._br
						+picture('s-6','jpg')
					a(href="#").service-preview__link ЭКСКУРСИИ
				.service-preview
					.service-preview__img._br
						+picture('s-7','jpg')
					a(href="#").service-preview__link ЭКСКУРСИИ
				.service-preview
					.service-preview__img._br
						+picture('s-8','jpg')
					a(href="#").service-preview__link КВАДРАЦИКЛЫ
				.service-preview
					.service-preview__img._br
						+picture('s-9','jpg')
					a(href="#").service-preview__link ПАРОПЛАНЫ
				.service-preview
					.service-preview__img._br
						+picture('s-10','jpg')
					a(href="#").service-preview__link ROOM-сервис
				.service-preview
					.service-preview__img._br
						+picture('s-11','jpg')
					a(href="#").service-preview__link ЗАБРОНИРОВАТЬ СТОЛ