.svg-pm-1 {
    background: url("svg/sprite.css-6f016717.svg") 0 0 no-repeat;
}

.svg-pm-1-dims {
    width: 64px;
    height: 59px;
}

.svg-pm-2 {
    background: url("svg/sprite.css-6f016717.svg") 100% 0 no-repeat;
}

.svg-pm-2-dims {
    width: 53px;
    height: 47px;
}

.svg-pm-3 {
    background: url("svg/sprite.css-6f016717.svg") 58.51851851851852% 80.82191780821918% no-repeat;
}

.svg-pm-3-dims {
    width: 41px;
    height: 41px;
}

.svg-pm-4 {
    background: url("svg/sprite.css-6f016717.svg") 54.7008547008547% 0 no-repeat;
}

.svg-pm-4-dims {
    width: 59px;
    height: 46px;
}

.svg-pm-5 {
    background: url("svg/sprite.css-6f016717.svg") 0 100% no-repeat;
}

.svg-pm-5-dims {
    width: 31px;
    height: 55px;
}

.svg-pm-6 {
    background: url("svg/sprite.css-6f016717.svg") 96.09375% 70.14925373134328% no-repeat;
}

.svg-pm-6-dims {
    width: 48px;
    height: 47px;
}

.svg-pm-7 {
    background: url("svg/sprite.css-6f016717.svg") 24.21875% 98.33333333333333% no-repeat;
}

.svg-pm-7-dims {
    width: 48px;
    height: 54px;
}

