extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		
		+breadcrumb(['Главная'], 'Доставка')
			
		.block
			.block__head._p-h
				h1 Интернет-магазин «MGLK.SHOP»,
					br
					| предлагает несколько вариантов доставки:
				.mblock._br._p 
					.text 
						h4 
							color Курьерская служба СДЕК:
						p Доставка товаров оплачивается заказчиком при получении. Выбрать ближайший пункт выдачи и узнать тарифы на доставку можно на сайте www.cdek.ru. Если вы заказали доставку до квартиры, после поступления товара на склад, курьер свяжется с вами и предложит выбрать удобное время доставки и уточнит адрес.

						p
							b
								color Средний срок доставки по городам России составляет от 2 до 8 дней.
					
				.mblock._br._p 
					.text 
						h4 
							color Траснпортная компания DPD:
						p Доставка товаров оплачивается заказчиком при получении. Выбрать ближайший пункт выдачи и узнать тарифы на доставку можно на сайте www.dpd.ru. Если вы заказали доставку до квартиры, после поступления товара на склад, курьер свяжется с вами и предложит выбрать удобное время доставки и уточнит адрес.


						p
							b
								color Средний срок доставки по городам России составляет от 2 до 8 дней.
					
				.mblock._br._p 
					.text 
						h4 
							color Почта России:
						p Стоимость доставки рассчитывается по тарифам Почты России и оплачивается при получении. Ознакомиться с тарифами вы можете на сайте www.pochta.ru. Посылка выдаётся при предъявлении паспорта в отделении Почты России, привязанном к указанному вами почтовому индексу.

						p
							b
								color Средний срок доставки по территории России составляет от 7 до 14 дней.
						p
							b
								color Средний срок доставки за рубеж составляет от 14 до 28 дней.
						